
*{
    margin: 0;
    padding: 0;
}
.wrapper{
    max-width: 1200;
    font-family:'Roboto', sans-serif;
    position: relative;
    
}
header{
    background-image: url("../images/slider1.jpg");
    background-size: cover;
    height: 100vh;
}


.top-head{
 
   background-color: rgb(68,67,62,0.7);
   width:100%;
}

.container{
    margin: 0 auto;
    max-width: 1100px;
   
}

.inner-head{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.left-head{
    width: 100%;
}

.right-head{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.list{
    display: flex;
    list-style: none;
}

.list li{
   padding:0 10px;
   align-items: center;
   font-weight: bold;
   font-size: 15px;
}

.list li a{
    text-decoration: none;
    color: white;
    text-align: center;
    text-transform: uppercase;

}


 .list li a.active {
    color: #41CFAB ;
     border-bottom: 3px solid #41CFAB;
    padding-bottom: 33px;
    
  }

  .list li  a:hover {
    color: #41CFAB ;
     border-bottom: 3px solid #41CFAB;
    padding-bottom: 33px;
    
  }

.search-bar{
     padding-left: 10px;
}

.banner{
    position: relative;
    overflow: hidden;
}

.banner img{
    width: 100%;
}

.banner .ban-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 225px;
    

}

.ban-content h1,h2,h3{
    color:#FFFFFF;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.ban-content h2{
    font-size: 70px;
    word-spacing: 10px;
}
.ban-content h3{
    font-size: 30px;
    text-transform: capitalize;
    color: rgb(212,212,212);
}

.ban-content h1 span{
    color: #41CFAB;
}

.ban-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.ban-buttons button{
    font-size: 15px;
    color: #FFFFFF;
    min-width: 170px;
    border-top: 5px solid white;
    padding: 20px;
    margin-left: 20px;
}
.ban-buttons .btn1{
    background-color: rgb(65,207,171);
}

.ban-buttons .btn2{
   background-color:rgb(0,203,246);
}

.ban-buttons .btn1:hover,.ban-buttons .btn2:hover{
    font-size: 25px;
    border-top: 5px solid wheat;
}


  .four{
    display: flex;
      
    
     
  }
  .four1,.four3{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 350px;
    background-color: #1C2A33;
    border-top: 5px solid #41CFAB;
    align-items: center;
    justify-content: center;
  }
  .four2,.four4{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 350px;
    background-color: #41CFAB;
    border-top: 5px solid white;
    align-items: center;
    justify-content: center;
  }

  .four1 p,.four3 p{
      padding-top: 25px;
      color: #41CFAB;
      font-weight:800;
      font-size: 20px;
      text-transform: uppercase;
  }
  .four2 p,.four4 p{
    padding-top: 25px;
    color: #FFFFFF;
    font-weight:800;
    font-size: 20px;
    text-transform: uppercase;
}

.sectionThree{
    max-width: 1200px;
}
.heading{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 50px;
    
}
.heading h1{
    width: 500px;
    margin-left: 450px;
  
}
.heading img{
    margin-left: 600px;
}


.main{
    margin-left: 150px;
    display: flex;
    justify-content: space-around;
}


.firstOne{
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
}
.headicon img{
    float: left;
    
}
.headicon h3{
    float: left;
    margin-left: 15px;
    margin-top: 7px;
}

.para{
    margin-top:-10px;
    
}




.sectionFour{

    width: 100%;
    height: auto;
    background-color:#000000;
    position: relative;
    overflow: hidden;
    
}

.sectionFour .aboutImg{
    position: absolute;
    bottom: 0;
    width: 50%;
}
.sectionFour .side{
    color: #ffffff;
    margin-left: 62%;
    padding-top: 100px;
}

.side{
    margin-bottom: 100px;
}
.side h1{
    text-transform:capitalize;
}
.side img{
    margin-left: 100px;
}


.categories{
    margin-top: 40px;
    margin-bottom: 100px;
}

.categories ul{
    list-style: none;

}
.categories li{
    float: left;
    padding-right:20px ;
    word-spacing: 0px;
    font-size: 16px;
    padding-top: 5px;
    font-weight: bold;
  
}

.categories li p{
    padding-top: 3px;
}

.skills{
    border-top: 3px solid aqua;   
}

.bars{
    margin-top: 10px;
    width: 90%;
}

.bg-bars{
    overflow: hidden;
    margin-right: 150px;
    color: #000;
    background-color: #0A1014;
    width: 100%;
    height: 24px;
    border: 1px solid #959595;
    
}
.bars .interface{
    height: 24px;
    width: 60%;
    background-color: #9C5DA5;
    
}

.bars .design{
    height: 24px;
    width: 85%;
    background-color: #12B0DE;
}

.bars .wordpress{
    height: 24px;
    width: 55%;
    background-color: #D67F7F;
}

.bars .HCSS{
    height: 24px;
    width: 90%;
    background-color: #3ABD9E
}

.bars .app{
    height: 24px;
    width: 85%;
    background-color: #BB8A36;
}

.bars .bartext{
    color: #ffffff;
    size: 13px;
    text-indent: 7px;
    padding-top: 3px;
}

.head{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 50px;
    
}
.sectionFive{
    
    overflow: hidden;
}
.head h1{
    margin-left: 500px;
}

.head img{
    margin-left: 585px;
}

.work-categories ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    max-width: 600px;
    margin-left: 357px;
   
}
.work-categories ul li{
    display: inline-block;
    width: 150px;
    text-align: center;
    border: 1px solid #EBEBEB;
    padding: 15px;
    font-size: 14px;
    color: #717171;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;;
    position: relative;
}

.all{
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 17px;
    border-top: 3px solid aqua;
}

.gallary{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 130px;
    flex-wrap: wrap;
}
.gallary .first{
  display: flex;
}

.first img{
    width: 100%;
    height: 100%;
   
}

.loadBtn{
    margin-top: 70px;
    margin-left: 555px;
    background-color: #41CFAB;
    width: 200px;
    height: 50px;
    position: relative;
}

.loadBtn img{
    position: absolute;
    top: 40%;
    left: 20%;
}

.loadBtn p{
    position: absolute;
    top: 35%;
    left: 35%;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}